.home {
  display: flex;
  align-items: center;
}
.photo-container {
  position: relative;
  width: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}
.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-inline: 15px;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .text-container {
    margin-inline: 0;
    margin-inline-start: 15px;
  }
}

.text-container h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-large);
  color: var(--font-color-light);
}
.text-container strong {
  font-style: italic;
  font-size: var(--font-size-medium);
  color: var(--font-color-light);
}